* { margin: 0; padding: 0; text-align: center; } 

body {
    background-color: rgb(207, 206, 203);
    text-align: center;
}

#temp {
    color: #444444;
}

#section1 h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}


#section1 #ImgSet {
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

#section1 #ImgSet button {
    background-color: #CB0088;
    color: white;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}

#section1 #ImgSet button:hover {
    background-color: #000000;
    color: white;
    border: none;
}

#section1 #ImgSet #prev_btn {
    left: -100px;
}

#section1 #ImgSet #next_btn {
    right: -100px;
}

/* #section1 #ImgSet button.disabled {cursor: auto; opacity: 0;} */

#section1 #ImgSet #picSet {
    width: 640px;
    height: 346px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#section1 #ImgSet #picSet img {
    position: absolute;
    top: 0;
    transition: left 1s;
}

#section1 #ImgSet #dotList {
    margin-top: 20px;
}

#section1 #ImgSet #dotList li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #888888;
    color: #000000;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 15px;
}

#section1 #ImgSet #dotList li:hover {
    background-color: gray;
}

#section1 #ImgSet #dotList li.active {
    background-color: #CB0088;
    color: white;
}

#section1 #ImgSet #picSet dl {
    position: absolute;
    z-index: 1;
    bottom: -100px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    transition: all 1s;
    padding: 20px;
}
#section1 #ImgSet #picSet p {
    font-size: 12px;
}

#section1 #ImgSet #picSet dl.active {
    animation: textMotionIn forwards 1s
}

#picSet dl.activeOut {
    animation: textMotionOut forwards 1s;
}


@keyframes textMotionIn {
    from {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes textMotionOut {
    from {
        bottom: 0;
        opacity: 1;
    }

    to {
        bottom: 50px;
        opacity: 0;
    }
}